/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.container {
    width: 100%;
    height: 100%; /* Update to 100% */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top vertically */
    background-color: white; /* Set the background color as desired */
    overflow-y: auto; /* Allow vertical scrolling */
}

/* Iframe Styles */
iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: none;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure no extra spacing */
}

/* Media Queries */
/* Apply specific CSS rules based on screen width */

@media (max-width: 597px) {
    /* Small devices and above */
    .container {
        align-items: center; /* Center vertically */
        height: auto; /* Allow container height to adjust */
    }
}

@media (max-width: 575px) {
    /* Extra small devices */
    iframe {
        width: 100%; /* Adjust width to fill container */
        height: auto; /* Allow height to adjust based on content */
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* Small devices */
    iframe {
        width: 597px; /* Adjust width as needed */
        height: auto; /* Auto height to maintain aspect ratio */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Medium devices */
    iframe {
        width: 768px; /* Adjust width as needed */
        height: auto; /* Auto height to maintain aspect ratio */
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Large devices */
    iframe {
        width: 992px; /* Adjust width as needed */
        height: auto; /* Auto height to maintain aspect ratio */
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    /* Extra large devices */
    iframe {
        width: 1200px; /* Adjust width as needed */
        height: auto; /* Auto height to maintain aspect ratio */
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    /* Larger than 1440px but less than 4K */
    iframe {
        width: 1440px; /* Adjust width as needed */
        height: auto; /* Auto height to maintain aspect ratio */
    }
}

@media (min-width: 1920px) {
    /* Extremely high-resolution devices (4K and above) */
    iframe {
        width: 1920px; /* Adjust width as needed */
        height: auto; /* Auto height to maintain aspect ratio */
    }
}
